h1 {
  font-size: 7vw;
  margin-top: 10vw;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
    margin-top: 5vw;
  }
}
@media screen and (min-width: 900px) {
  h1 {
    margin-top: 2vw;
  }
}
