:root {
  --beige: #ebe9e4;
  --grey: #666666;
}
* {
  box-sizing: border-box;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

body {
  margin: auto;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--beige);
  padding: 7vw 4vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  background: transparent;
}
a {
  width: 100%;
}

input:focus,
a:focus {
  outline: none;
}

@media screen and (min-width: 900px) {
  body {
    width: 80vw;
  }
}
@media screen and (min-width: 1200px) {
  body {
    width: 60vw;
  }
}
